# For config options, see https://docs.npmjs.com/cli/using-npm/config

engine-strict = true # If true, npm will stubbornly refuse to install any package that claims to not be compatible with the current Node.js version.
